/*Fonts*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
html {
    font-family: serif;
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
/*no more fonts for you*/

/*gotta center everything*/

h1 {text-align: center;}
			
nav {text-align: center;}
			
h2 {text-align: center;}
			
p {text-align: center;}
			
h3 {text-align: center;}
			
label {text-align: center;}

/*end center*/

/*navigation, found this cool one online*/

 /*media*/			
img {
    width: 290;
    height: 220;
    margin: 15px auto;
    border-radius: 8px;
    border: 1px solid #CC4949;
    padding: 1px;
    box-shadow: 2px 2px 10px 0 rgb(0, 0, 0, 0.7);
}
iframe {
	display: block;
	margin: 0 auto;
    width: 1130;
    height: 636;
    border-radius: 8px;
    border: 1px solid #CC4949;
    padding: 1px;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.7);
}
			
* {
	box-sizing: border-box;
}

.column {
	float: left;
	width: 33.33%;
	padding: 5px;
			}

  /*end media*/

/* Clearfix (clear floats) */
.row::after {
	content: "";
	clear: both;
	display: table;
}
			
body {
	padding: 25px;
	background-color: white;
	color: black;
	font-size: 25px;
}

/*darkmode stuff*/
.dark-mode {
	background-color: black;
	color: white;
}

button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


/*contact form*/

form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }



/*animations because I hate having to switch between files*/