
html {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: pink;
    position: fixed;
    top: 0%;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: papayawhip;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: antiquewhite;
    color: black;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img {
    border: 10px solid;
    padding: 15px;
    border-color: pink;
    border-radius: 50%;
    margin-top: 100px;
    margin-bottom: 50px;
    
    
}

.container {
    position: relative;
    text-align: center;
    color: white;
}
    


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
    font-size: 50px;
}

.picture {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}



.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .picture {
    opacity: 0.3;
} 

.container:hover .middle {
    opacity: 1;
}

.text {
    background-color: pink;
    color: white;
    font-size: 30px;
    padding: 16px 32px;
}

#desc {
    color: black;
    margin-top: 30px;
    font-size: 25px;
}

#desc:hover {
    background-color: pink;
    color: white;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
    margin-top: 50px;
    border: 2px solid palevioletred;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
#actors {
    border-collapse: collapse;
    width: 100%;
    margin-top: 2%;
}

#actors td, actors th {
    border: 2px solid palevioletred;
    padding: 8px;
}

#actors tr {
    background-color: peachpuff;
    text-align: center;
}

#actors tr:hover {
    background-color: pink;
}

#actors th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: plum;
    color: white;
    border: 2px solid palevioletred;
}

.container video {
    border: 10px solid;
    padding: 15px;
    border-color: pink;
    margin-top: 100px;
    margin-bottom: 50px;
    
}

footer {
    text-align: center;
    padding: 3px;
    background-color: pink;
    color: white;
    margin-top: 2%;
    font-weight: bold;
}    